.container{
    display: flex;
    max-width: 45rem;
    height: 33rem;
    margin: auto;
    box-shadow: 0 1rem 6rem -2rem rgba(73, 86, 185, 0.438);
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.result{
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    flex: 1;
    border-radius: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.summary{
    background-color: white;
    flex: 1;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.result .title{
    font-family: "Hanken Grotesk", sans-serif;
    color: #d2c6fe;
    font-size: 1.5rem;
    margin-top: 3vh;
    margin-bottom: 2vh;
}
.circle{
    aspect-ratio: 1;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    margin-bottom: 2vh;
}
*{
    font-family: "Hanken Grotesk", sans-serif;
}
.circle .circletext{
    font-size: 1rem;
    margin: 0;
    color: #d2c6fea4;
}
.circle h1{
    color: white;
    margin: 0;
    font-size: 5rem;
}
.result h2{
    color: white;
    font-size: 2rem;
    margin: 0;
}
.result p{
    font-family: "Hanken Grotesk", sans-serif;
    color: #d2c6fe;
    font-size: 1rem;
    margin: 1vh 22%;
    margin-bottom: 5vh;
}

/*right*/

.summary .title{
    font-size: 1.5rem;
    margin-top: 3vh;
    margin-bottom: 0;
    margin-left: 2rem;
}
.summary .stats{
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.summary .stat img{
    display: inline-block;
}
.summary .stat p{
    display: inline-block;
    margin-right: 0%;
}
.summary .stat{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 0 5%;
    cursor: pointer;
    transition: all 0.2s ease;
}
.left{
    align-items: center;
    display: flex;
    gap: 10%;
}
.reaction{
    background-color: hsla(0, 100%, 67%, 0.089);
}
.reaction:hover{
    background-color: hsla(0, 100%, 67%, 0.151);   
}
.reaction .name{
    color: hsl(0, 100%, 67%);
}

.memory{
    background-color: hsla(39, 100%, 56%, 0.089);
}
.memory:hover{
    background-color: hsl(39, 100%, 56%, 0.151);   
}
.memory .name{
    color: hsl(39, 100%, 56%);
}

.verbal{
    background-color: hsl(166, 100%, 37%, 0.089);
}
.verbal:hover{
    background-color: hsla(166, 100%, 37%, 0.151);   
}
.verbal .name{
    color: hsl(166, 100%, 37%);
}

.visual{
    background-color: hsla(234, 85%, 45%, 0.075);
}
.visual:hover{
    background-color: hsla(234, 85%, 45%, 0.1);   
}
.visual .name{
    color: hsl(234, 85%, 45%);
}

.btn{
    background: linear-gradient(hsl(224, 30%, 27%), hsl(224, 30%, 27%));
    border: none;
    color: white;
    font-size: 1rem;
    width: fit-content;
    padding: 1rem 6rem;
    border-radius: 2rem;
    margin: 0 auto;
    margin-bottom: 5vh;
    cursor: pointer;
    transition: all 2s ease;
}
.btn:hover{
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
.btn:active{
    background: linear-gradient(hsl(252, 56%, 53%), hsl(241, 68%, 41%));
}


@media all and (max-width: 500px) {
    .container{
        flex-direction: column;
        height: 100vh;
        transform: translateY(0);
        width: 100%;
    }
    body{
        margin: 0;
    }
    .result{
        border-radius: 0 0 30px 30px;
        flex: 0.75;
        height: 40vh;
    }
    .summary{
        border-radius: 0;
    }
    .circle{
        flex: none;
        width: 17vh;
    }
    .circle h1{
        font-size: 3.6rem;
    }
    .container .result h2{
        font-size: 1.5rem;
    }
    .container .result p{
        font-size: 0.9rem;
    }
    .container .result .title{
        font-size: 1.3rem;
    }
    .btn{
        width: 90%;
    }
}